<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Erik Karulf - {{ page.title }}</title>
    <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <h1 class="logo"><a href="/">Erik Karulf</a></h1>
      </div>
      <div id="content" class="site">
        {{ content }}
      </div>
      <div class="push"></div>
    </div>
    <div id="footer">
        <div class="info">
          <ul class="links">
            <li><a href="/"><b>Website</b></a></li>
            <li><a href="http://fort-awesome.net">Start-Up</a></li>
            <li><a href="http://github.com/ekarulf">Code</a></li>
            <li><a href="http://twitter.com/ekarulf">Twitter</a></li>
            <li><a href="http://facebook.com/ekarulf">Facebook</a></li>
          </ul>
          <div class="company">
            &copy;
            {{ site.time | date: "%Y" }}
            Erik Karulf
            All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
